<tr>
    <td class="time">
        {{include.start | date: "%l:%M %P"}} {% if include.start != include.end %} - {{include.end | date: "%l:%M %P"}}{% endif %}<br>
    </td>
    <td class="event">
        <table>
            <tr>
                <td class="title">
				    {{include.talk.title | default: "TBD"}}
                </td>
                <td class="abstract_link">
                    {% if include.talk.abstract %}
                    <a class="tooltip">Abstract
                        <div class="abstract_text">
                            <h3>{{include.talk.title}}</h3>
                            <h3>{{include.talk.author}}</h3>
                            <h4>Abstract</h4>
                            {{include.talk.abstract}}</div>
                    </a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="author">
                    {{include.talk.author | default: "TBD"}}{% if include.talk.affiliation %}, {{include.talk.affiliation}}{% endif %}
                </td>
                <td class="slides">
                    {% if include.talk.slides %}
                    <a href="assets/slides/{{include.talk.slides}}">slides</a>
                    {% endif %}
                </td>
            </tr>
        </table>
    </td>
</tr>
